<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Group Project Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="top-nav">
    <nav>
        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('meetings') }}">Meetings</a>
        <a href="{{ url_for('deadlines') }}">Deadlines</a>
        <a href="{{ url_for('reports') }}">Reports</a>
    </nav>
</header>

<!-- <h1>Smart Group Project Manager</h1> -->
<h1>NEW DASHBOARD TEST</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="{{ url_for('send_update_to_slack') }}" method="post">
    <button type="submit">Send Update to Slack</button>
</form>

</body>
</html>